<h1 class="text-4xl font-bold mb-4 text-center p-6">New Request</h1>
<div class="container mx-auto p-0">
  <div class="text-center">
    <p class="mb-8 px-6">To initiate a new credit assessment for a client, please provide the following information:</p>
  </div>
  <div class="flex justify-center">
    <form class="w-full max-w-4xl px-10">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="field0">
                    Status of existing checking account
                </label>
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field0" id="field0">
                    <option value="" selected>Please select</option>
                    <option value="0"> < 0 DM</option>
                    <option value="1">0 <= ... < 200 DM</option>
                    <option value="2">>= 200 DM / salary assignments for at least 1 year</option>
                    <option value="3">No checking account</option>
                </select>
                <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field0" formControlName="field0" type="text" placeholder="Enter text here"> -->
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field1">
                Duration in month
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field1" formControlName="field1" type="text" placeholder="Enter text here">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field2">
                    Credit history
                </label>
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field2" id="field2">
                    <option value="" selected>Please select</option>
                    <option value="0">No credits taken/ all credits paid back duly</option>
                    <option value="1">All credits at this bank paid back duly</option>
                    <option value="2">Existing credits paid back duly till now</option>
                    <option value="3">Delay in paying off in the past</option>
                    <option value="4">Critical account/ other credits existing (not at this bank)</option>
                </select>
            <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field2" formControlName="field2" type="text" placeholder="Enter text here"> -->
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field3">
                    Purpose
                </label>
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field3" id="field3">
                    <option value="" selected>Please select</option>
                    <option value="0">Car (new)</option>
                    <option value="1">Car (used)</option>
                    <option value="2">Furniture/equipment</option>
                    <option value="3">Radio/television</option>
                    <option value="4">Domestic appliances</option>
                    <option value="5">Repairs</option>
                    <option value="6">Education</option>
                    <option value="7">Vacation</option>
                    <option value="8">Retraining</option>
                    <option value="9">Business</option>
                    <option value="10">Others</option>
                </select>
            <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field3" formControlName="field3" type="text" placeholder="Enter text here"> -->
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field4">
                Credit amount
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field4" formControlName="field4" type="text" placeholder="Enter text here">
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field5">
                Savings account/bonds
            </label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field5" id="field5">
                <option value="" selected>Please select</option>
                <option value="0">< 100 DM</option>
                <option value="1">100 <= ... <  500 DM</option>
                <option value="2">500 <= ... < 1000 DM</option>
                <option value="3"> >= 1000 DM</option>
                <option value="4">Unknown / no savings account</option>
            </select>
            <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field5" formControlName="field5" type="text" placeholder="Enter text here"> -->
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field6">
                    Present employment since
                </label>
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field6" id="field6">
                    <option value="" selected>Please select</option>
                    <option value="0">Unemployed</option>
                    <option value="1">< 1 year</option>
                    <option value="2">1 <= ... < 4 years</option>
                    <option value="3">4 <= ... < 7 years</option>
                    <option value="4">>= 7 years</option>
                </select>
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field7">
                    Installment % of disposable income
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field7" formControlName="field7" type="text" placeholder="Enter text here">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field8">
                Personal status and sex
            </label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field8" id="field8">
                <option value="" selected>Please select</option>
                <option value="0">Male: divorced/separated</option>
                <option value="0">Female: divorced/separated/married</option>
                <option value="0">Male: single</option>
                <option value="0">Male: married/widowed</option>
                <option value="0">Female: single</option>
            </select>
            <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field8" formControlName="field8" type="text" placeholder="Enter text here"> -->
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field9">
                    Other debtors / guarantors
                </label>
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field9" id="field9">
                    <option value="" selected>Please select</option>
                    <option value="0">None</option>
                    <option value="1">Co-applicant</option>
                    <option value="2">Guarantor</option>
                </select>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field10">
                    Present residence since
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field10" formControlName="field10" type="text" placeholder="Enter text here">
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field11">
                    Property
                </label>
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field11" id="field11">
                    <option value="" selected>Please select</option>
                    <option value="0">Real estate</option>
                    <option value="1">Building society savings agreement/ life insurance</option>
                    <option value="2">Car or other, not in attribute 6</option>
                    <option value="3">Unknown / no property</option>
                </select>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field12">
                    Age in years
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field12" formControlName="field12" type="text" placeholder="Enter text here">
                </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field13">
                    Other installment plans
                </label>
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field13" id="field13">
                    <option value="" selected>Please select</option>
                    <option value="0">Bank</option>
                    <option value="1">Stores</option>
                    <option value="2">None</option>
                </select>
                <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field13" formControlName="field13" type="text" placeholder="Enter text here"> -->
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field14">
                Housing
            </label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field14" id="field14">
                <option value="" selected>Please select</option>
                <option value="0">Rent</option>
                <option value="1">Own</option>
                <option value="2">For free</option>
            </select>
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field15">
                Number of existing credits at bank
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field15" formControlName="field15" type="text" placeholder="Enter text here">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field16">
                Job
            </label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field16" id="field16">
                <option value="" selected>Please select</option>
                <option value="0">Unemployed / unskilled - non-resident</option>
                <option value="1">Unskilled - resident</option>
                <option value="2">Skilled employee / official</option>
                <option value="3">Management/ self-employed / highly qualified employee / officer</option>
            </select>
            <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field16" formControlName="field16" type="text" placeholder="Enter text here"> -->
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field17">
                People to provide maintenance for
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field17" formControlName="field17" type="text" placeholder="Enter text here">
            </div>
        </div>
        <div class="flex flex-wrap justify-center-center -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field18">
                Telephone number
            </label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field18" id="field18">
                <option value="" selected>Please select</option>
                <option value="0">No</option>
                <option value="1">Yes, registered under the customers name</option>
            </select>
            <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="field18" formControlName="field18" type="text" placeholder="Enter text here"> -->
            </div>
            <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="field19">
                Foreign worker
            </label>
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" formControlName="field19" id="field19">
                <option value="" selected>Please select</option>
                <option class="mr-4" value="0">Yes</option>
                <option value="1">No</option>
            </select>
            <!-- <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="field19" formControlName="field19" type="text" placeholder="Enter text here"> -->
            </div>
        </div>
        @if(isLoading){
            <div class="flex justify-center mb-6" >
                <div class="spinner"></div>
            </div>
        }
        <!-- Submit button -->
        <div class="flex justify-center mb-12">
            <button class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
            Submit Request
            </button>
        </div>

    </form>
  </div>
</div>