<h1 class="text-4xl font-bold mb-4 text-center p-6">About this project</h1>

<div class="w-full max-w-screen-xl mx-auto text-center">
    <p class="mb-8 px-10">This web page is part of a project developed by <strong>Marc Cesar</strong>, a student at the <a class="font-bold hover:underline" href="https://www.upc.edu/">© UPC Universitat Politècnica de Catalunya BarcelonaTech</a> for the <a class="font-bold hover:underline" href="https://www.fib.upc.edu/en/studies/bachelors-degrees/bachelor-degree-informatics-engineering">Bachelor Degree in Informatics Engineering</a>. The aim is to contribute to the academic field by applying theoretical knowledge in a practical environment.</p>
    <p class="mb-8 px-10">
        The core of this project is a prototype system that uses <strong>MLOps (Machine Learning Operations)</strong> technology to optimize the machine learning lifecycle, from data preparation to model training, deployment, and monitoring. Learn more about MLOps at <a href="https://ml-ops.org" target="_blank" class="text-blue-500 hover:text-blue-700">ml-ops.org</a>.
    </p>
    <p class="mb-8 px-10">
        More specifically, this is the prototype of a <strong>Credit Prediction System</strong> that uses machine learning models to predict the credit risk of a customer. The system is designed to be used by a bank to automate the credit risk assessment process and improve the efficiency of the loan approval process.
    </p>
    <p class="mb-2">
        This project code is available on GitHub:
    </p>
    <ul class="list-disc list-inside mb-4">
        <li>Frontend Repository: <a href="https://github.com/marc-cesar/tfg-mlops-web" target="_blank" class="text-blue-500 hover:text-blue-700">github.com/marc-cesar/tfg-mlops-web</a></li>
        <li>Backend Repository: <a href="https://github.com/marc-cesar/TFG-MLOps" target="_blank" class="text-blue-500 hover:text-blue-700">github.com/marc-cesar/TFG-MLOps</a></li>
    </ul>

</div>