<div class="overflow-x-auto">
    <table class="mx-auto min-w-max bg-white mb-24">
        <thead class="border-b">
            <tr>
                <th scope="col" class="text-sm px-4 font-bold text-gray-900 py-4 text-center">
                    Id
                </th>
                <th scope="col" class="text-sm px-4 font-bold text-gray-900 py-4 text-center">
                    Prediction
                </th>
                <th scope="col" class="text-sm px-4 font-bold text-gray-900 py-4 text-center">
                    FeedBack
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b" *ngFor="let request of requests; let i = index">
                <td class="px-1 py-4 whitespace-nowrap text-center font-medium text-gray-900">
                    <a class="text-blue-500 underline hover:text-blue-700" [routerLink]="['/NewRequest']" [queryParams]="{requestId: request.id}">
                        Recommendation {{ request.id }}
                    </a>
                </td>
                <td class="px-1 py-4 whitespace-nowrap text-center font-normal text-gray-900">
                    {{ request.prediction }}
                </td>
                <td class="px-1 py-4 whitespace-nowrap text-center font-normal text-gray-900">
                    {{ request.feedback != null ? request.feedback : 'NULL' }}
                </td>
            </tr>             
        </tbody>
    </table>
</div>
