<h1 class="text-4xl font-bold mb-4 text-center p-6">Admin tools</h1>
<div class="container mx-auto p-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      <div class="col-span-1 xl:col-span-1 bg-white shadow p-4 rounded">
        <app-grant-admin-access></app-grant-admin-access>
      </div>
      <div class="col-span-1 xl:col-span-1 bg-white shadow p-4 rounded">
        <app-force-retrain></app-force-retrain>
      </div>
      <div class="col-span-1 xl:col-span-1 bg-white shadow p-4 rounded">
        <app-retrain-settings></app-retrain-settings>
      </div>
    </div>
  </div>  