<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <form (ngSubmit)="onSubmit()" class="w-full max-w-xs p-4 bg-white shadow-md rounded-lg">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
        <input type="text" id="username" [(ngModel)]="model.username" name="username" required
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-500">
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
        <input type="password" id="password" [(ngModel)]="model.password" name="password" required
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-500">
      </div>
      <div class="mb-6">
        <label for="confirm-password" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password:</label>
        <input type="password" id="confirm-password" [(ngModel)]="model.confirmPassword" name="confirmPassword" required
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-500">
      </div>
      <div>
        <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transform hover:scale-105 transition duration-300">
          Sign Up
        </button>
      </div>
    </form>
  </div>
  