<div class="container mx-auto p-6">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4">Welcome to the Bank Credit Recomender! </h1>
      <p class="mb-8">Our Machine Learning system assists in evaluating whether a client qualifies for credit, enabling you to make informed decisions with speed and precision. </p>
    </div>
  
    <div class="my-8">
        <div class="text-center mb-16">
            <h2 class="text-3xl font-semibold mb-6">Getting Started</h2>
            <p class="mb-5">To begin the process of credit recommendation, simply choose one of the following options:</p>
        </div>
      
      <div class="flex flex-wrap justify-center gap-8">
        <div class="max-w-sm rounded overflow-hidden shadow-lg p-6 bg-white text-center transition-transform duration-150 hover:scale-105">
          <a routerLink="NewRequest" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded leading-tight">Introduce Credit Info</a>
          <p class="mt-4">Initiate a new credit assessment for a client, and provide feedback if necessary.</p>
        </div>
        
        <div class="max-w-sm rounded overflow-hidden shadow-lg p-6 bg-white text-center transition-transform duration-150 hover:scale-105">
          <a routerLink="Requests" routerLinkActive="true" class="max-w-44 sm:max-w-none inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded leading-tight">Consult Previous Recomendations</a>
          <p class="mt-4">Review the completed assessments.</p>
        </div>
      </div>
    </div>
  
    <div class="text-center my-10">
      <h2 class="text-3xl font-semibold mb-6">Your Feedback Matters</h2>
      <p>We highly value your feedback on the credit assessment process. Your insights contribute to the continuous improvement of our system.</p>
    </div>
  </div>
  